---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from '../layouts/MainLayout.astro';
import {pages} from "./metadata.ts";
const {siteTitle, siteDescription} = pages.home;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={siteTitle} description={siteDescription} />
	</head>
		<MainLayout hero={true}>
			<p class="text-black mb-10">
				{siteDescription}
			</p>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores distinctio tenetur dolor molestias, rem est voluptas! Quo officiis rem, temporibus ut, perspiciatis dignissimos obcaecati perferendis repellat ducimus eum consequuntur sint sunt soluta minus debitis? Praesentium repellat sed vel assumenda incidunt! Sapiente quis omnis ea aliquam tenetur temporibus reprehenderit ullam sequi officia. Laboriosam omnis animi sit, dolorum cupiditate expedita accusantium quos unde placeat non eveniet magnam mollitia. In dignissimos veniam dolorem a aliquam ea delectus repudiandae, natus architecto illo consequatur similique, officia modi ut doloribus mollitia? Quisquam, omnis ipsam exercitationem obcaecati magnam dolorum, nam vitae quidem velit iusto corrupti sit! Quia.
			</p>
		</MainLayout>
</html>
