---
import { Picture } from "astro-imagetools/components";
import CTA from "./CTA.astro";

const imgData = {
	desktopUrl:'src/assets/heroImage_1920.jpg',
	tabletUrl:'src/assets/heroImage_1280.jpg',
	midMobileUrl:'src/assets/heroImage_640.jpg',
	mobileUrl:'src/assets/heroImage_360.jpg',
	alt:'Michał skacze na rolkach przez tyczke'
}
const {desktopUrl,tabletUrl,midMobileUrl,mobileUrl,alt} = imgData;
const text=["uczymy","jazdy na", "rolkach"].map(item=>item.toUpperCase());

---
<section class="w-full relative">
	<p class="absolute gap-4 z-10 left-0 bottom-0 top-12 sm:top-20 md:top-24 lg:top-32 xl:bottom-72 w-full h-fit px-2 text-center">
		<span class="text-6xl sm:text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-bold drop-shadow-solid text-white">{text[0]}</span>
		<span class="text-2xl  md:text-4xl  lg:text-5xl xl:text-7xl font-bold drop-shadow-solid text-white">{text[1]}</span>
		<span class="text-6xl sm:text-5xl md:text-7xl lg:text-8xl xl:text-9xl text-green_yellow-500 font-bold drop-shadow-solid">{text[2]}</span>
	</p>
	<CTA href="https://zapisy.rollschool.pl/" label="Zapisz się"/>
	<div class="mx-auto w-fit">
		<Picture
			fit="contain"
			position="center"
			src={mobileUrl}
			alt={alt}
			artDirectives={[
			{
				src:desktopUrl,
				media:'(min-width: 1280px)'
			},
			{
				src:tabletUrl,
				media:'(min-width: 640px)'
			},
			{
				src:midMobileUrl,
				media:'(min-width: 360px)'
			}
	]}/>
</div>
</section>